<header>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <h1>PETSHOP</h1>
      </div>
      <div class="col-md-3">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/user/login">Log In</a></li>
          <li class="list-inline-item">
            <a href="/user/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
