<nav class="navbar fixed-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">PetsMart</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a class="nav-link" href="/checkout">
        Cart items: <%= (cart) ? cart.length : 0 %></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/logout">Log out</a>
    </li>
  </ul>
</nav>
