<% include ./partials/top-bar %>

<div class="container-fluid">
  <div class="row">
    <% include ./partials/side-bar %>

    <!-- content area -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h2>Dashboard</h2>
      <div class="content">
        <% include ./partials/messages %>
        <p><strong>Total Orders:</strong> 78</p>
        <% allOrders.forEach(order => { %>
        <ul>
          <li><%= order.userName %></li>
          <li><%= order.invoiceNumber %></li>
        </ul>
        <% }) %>

        <p><strong>Total Sales:</strong>90,000</p>

        <p><strong>Total Products:</strong><%= totalProducts %></p>

        <h2>User Interface</h2>

        <h3>User Orders</h3>
        <% singleOrders.forEach(order => { %>
        <ul>
          <li><%= order.invoiceNumber %></li>
        </ul>
        <% }) %>
      </div>
    </main>
    <!-- end of content area -->
  </div>
</div>
