<h2>Upload Image</h2>

<!-- <form method="post" action="/admin/products" enctype="multipart/form-data">
  <div class="row product_add">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="file" class="form-control" name="imgUrl" />
      </div>
    </div>

    <label>
      <input type="submit" class="button" value="Submit" />
    </label>
  </div>
</form> -->

<form method="post" action="/img-upload" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">File Image Upload</label>
    <input type="file" class="form-control-file" name="imgUrl" />
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Submit" />
  </div>
</form>
