<% include ./partials/login-top %>
<section class="welcome">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1>Welcome to OIMS</h1>
        <h2>Number One Online Shop</h2>
        <h4>...for the Pet in Your life</h4>
      </div>

      <div class="col-md-5">
        <div class="box">
          <img src="/images/petshop.jpeg" />
        </div>
      </div>
    </div>
  </div>
</section>
