<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>OIMS</title>
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <div class="container">
      <% if(user) { %>
      <p>
        <a href="/checkout">
          Cart items: <%= (cart) ? cart.length : 0 %>
        </a>
      </p>
      <% } %> <%- body %>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
