<% include ./partials/top-bar %>
<div class="container-fluid">
  <div class="row">
    <% include ./partials/side-bar %>

    <!-- content area -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="row">

          <div class="col-md-3">
              <div class="product-menu">
                  <nav class="side-nav">
                  <ul>
                    <li><a href="/products/1">ALL</a></li>
                    <li class="select">
                      <a href="/cat/Birds">BIRDS<span class="side-sub"></span></a>
                      <ul>
                        <li><a  href="/cat/Birds_BirdCareProducts">BirdCare Products</a></li>
                        <li><a href="/cat/Birds_Food&Treats">Food & Treats</a></li>
                        <li><a href="/cat/Birds_Supplies">Supplies</a></li>
                      </ul>
                    </li>
                    <li><a href="/cat/Books">BOOKS</a></li>
    
                    <li class="select"><a href="/cat/Fish">FISH <span class="side-sub"></span></a>
                      <ul>
                        <li><a href="/cat/Fish_Food&Treats">Food & Treats</a></li>
                        <li><a href="/cat/Fish_Supplies">Supplies</a></li>
                      </ul>
                      </li>
                      <li class="select"><a href="/cat/SmallAnimals">SMALL ANIMALS <span class="side-sub"></span></a>
                        <ul>
                          <li><a href="/cat/SmallAnimals_Food&Treats">Food & Treats</a></li>
                          <li><a href="/cat/SmallAnimals_Supplies">Supplies</a></li>
                        </ul>
                      </li>
          
                    <li class="select">
                        <a href="/cat/Cats">CATS <span class="side-sub"></span></a>
                      <ul>
                          <li class="inner-select"><a href="/cat/Cats_Treats">Treats</a>
                            <ul>
                              <li><a href="/cat/Cats_Treats_Biscuits&CrunchyTreats">Biscuits & Crunchy Treats</a></li>
                            </ul>
                          </li>
                          <li class="inner-select"><a href="/cat/Cats_Food">Food</a>
                            <ul>
                              <li><a href="/cat/Cats_Food_DryFood">Dry Food</a></li>
                              <li><a href="/cat/Cats_Food_WetFood">Wet Food</a></li>
                            </ul>
                          </li>
                        <li class="inner-select">
                          <a href="/cat/Cats_CatCare">CatCare Products</a>
                          <ul>
                            <li>
                              <a href="/cat/Cats_CatCare_Cleaning&Potty">Cleaning & Potty</a>
                            </li>
                            <li ><a href="/cat/Cats_CatCare_Dental">Dental</a></li>
                            <li><a href="/cat/Cats_CatCare_HealthCare">HealthCare</a></li>
                            <li><a href="/cat/Cats_CatCare_Repellants">Repellants</a></li>
                            <li>
                              <a  href="/cat/Cats_CatCare_Stain&OdorRemovers"
                                >Stain & Odor Repellants</a
                              >
                            </li>
                            <li >
                              <a href="/cat/Cats_CatCare_Vitamins&Supplements"
                                >Vitamins & Supplements</a
                              >
                            </li>
                          </ul>
                        </li>
                        
                        <li class="inner-select"><a href="/cat/Cats_Supplies">Supplies</a>
                        <ul>
                          <li><a href="/cat/Cats_Supplies_Beds&Mat">Beds & Mats</a></li>
                          <li><a href="/cat/Cats_Supplies_Bowls&Feeders">Bowls & Feeders</a></li>
                          <li><a href="/cat/Cats_Supplies_Cages_Crates_Pens&Houses">Cages, Crates, Pens & Houses</a></li>
                          <li><a href="/cat/Cats_Supplies_Carriers&Travel">Carriers & Travel</a></li>
                          <li><a href="/cat/Cats_Supplies_Collars">Collars</a></li>
                          <li><a href="/cat/Cats_Supplies_Grooming_Supplies">Grooming Supplies</a></li>
                          <li><a href="/cat/Cats_Supplies_Leads&Leashes">Leads& Leashes</a></li>
                          <li><a href="/cat/Cats_Supplies_Tick&Flea">Tick & Flea</a></li>
                          <li><a href="/cat/Cats_Supplies_Toys">Toys</a></li>
                          <li><a href="/cat/Cats_Supplies_Training&behavior">Training & Behavior</a></li>
                        </ul>
                        </li>
                        
                      </ul>
                    </li>
                    <li class="select"><a href="/cat/Dogs">DOGS <span class="side-sub"></span></a>
                      <ul>
                          <li class="inner-select"><a href="/cat/Dogs_Treats">Treats</a>
                            <ul>
                              <li><a href="/cat/Dogs_Treats_Biscuits&Crunchy">Biscuits & Crunchy Treats</a></li>
                              <li><a href="/cat/Dogs_Treats_Dental&HardChews">Dental & Hard Chews</a></li>
                              <li><a href="/cat/Dogs_Treats_NaturalChews">Natural Chews</a></li>
                              <li><a href="/cat/Dogs_Treats_Soft&ChewyTreats">Soft & Chewy Treats</a></li>
                            </ul>
                            </li>
                            <li class="inner-select"><a href="/cat/Dogs_Food">Food</a>
                              <ul>
                                <li><a href="/cat/Dogs_Food_DryFood">Dry Food</a></li>
                                <li><a href="/cat/Dogs_Food_FlavorSpread">Flavor Spread</a></li>
                                <li><a href="/cat/Dogs_Food_PrescriptionDiets">Prescription Diets</a></li>
                                <li><a href="/cat/Dogs_Food_WetFood">Wet Food</a></li>
                              </ul>
                            </li>
                        <li class="inner-select"><a href="/cat/Dogs_DogCare">DogCare Products</a>
                          <ul>
                            <li><a href="/cat/Dogs_DogCare_Cleaning&Potty">Cleaning & Potty</a></li>
                            <li><a href="/cat/Dogs_DogCare_Dental">Dental</a></li>
                            <li><a href="/cat/Dogs_DogCare_HealthCare">HealthCare</a></li>
                            <li><a href="/cat/Dogs_DogCare_Repellants">Repellants</a></li>
                            <li><a href="/cat/Dogs_DogCare_Stain&OdorRemovers">Stain & Odor Removers</a></li>
                            <li><a href="/cat/Dogs_DogCare_Vitamins&Supplements">Vitamims & Supplements</a></li>
                          </ul>
                        </li>
                        
                        <li class="inner-select"><a href="/cat/Dogs_Supplies">Supplies</a>
                        <ul>
                          <li><a href="/cat/Dogs_Supplies_Beds&Mats">Beds & Mats</a></li>
                          <li><a href="/cat/Dogs_Supplies_Bowls&Feeders">Bowls & Feeders</a></li>
                          <li><a href="/cat/Dogs_Supplies_CableTieOut">Cable Tie Out</a></li>
                          <li><a href="/cat/Dogs_Supplies_Cages_Crates_Gates_Pens&Houses">Cages, Crates, Gates, Pens & Houses</a></li>
                          <li><a href="/cat/Dogs_Supplies_Carries&Travel">Carries & Travel</a></li>
                          <li><a href="/cat/Dogs_Supplies_Choke_Chain">Choke Chain</a></li>
                          <li><a href="/cat/Dogs_Supplies_Collars">Collars</a></li>
                          <li><a href="/cat/Dogs_Supplies_Couplers">Couplers</a></li>
                          <li><a href="/cat/Dogs_Supplies_GroomingSupplies">Grooming Supplies</a></li>
                          <li><a href="/cat/Dogs_Supplies_Harnesses">Harnesses</a></li>
                          <li><a href="/cat/Dogs_Supplies_Leads_Leashes">Leads / Leashes</a></li>
                          <li><a href="/cat/Dogs_Supplies_Mouth_Guard">Mouth Guard (Muzzler)</a></li>
                          <li><a href="/cat/Dogs_Supplies_Tick&Flea">Tick & Flea</a></li>
                          <li><a href="/cat/Dogs_Supplies_Toys">Toys</a></li>
                          <li><a href="/cat/Dogs_Supplies_Training&Behaviour">Training & Behaviour</a></li>
                        </ul>
                        </li>
                        
                      </ul>
                    </li>
                    
                  </ul>
                </nav>
              </div>
          </div>

        <div class="col-md-9 content">
          <% include ./partials/messages %>

          <div class="cat_menu">
              <div class="btn-group">
               
    
                <div class="dropdown">
                  <a
                    class="btn btn-secondary dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Shop By Brands
                  </a>
    
                  <div
                    class="dropdown-menu drop-menu2"
                    aria-labelledby="dropdownMenuLink"
                    style="padding:20px;"
                  >
                    <div class="row">
                      <div class="col-md-4">
                        <a class="dropdown-item" href="/brand/Four_Paws_Pet_Product">Four Paws Pet Product</a>
                        <a class="dropdown-item" href="/brand/ALC_Innovators">ALC Innovators</a>
                        <a class="dropdown-item" href="/brand/Coastal_Pet_Products">Coastal Pet Products</a>
                        <a class="dropdown-item" href="/brand/NaturVet_Pet_Products">NaturVet Pet Products</a>
                      </div>
    
                      <div class="col-md-4">
                        <a class="dropdown-item" href="/brand/Fortan">Fortan</a>
                        <a class="dropdown-item" href="/brand/Johnson_Vet_Products">Johnson Vet Products</a>
                        <a class="dropdown-item" href="/brand/RoseWood_Pet_Products">RoseWood Pet Products</a>
                        <a class="dropdown-item" href="/brand/PetMate">PetMate</a>
                      </div>
    
                      <div class="col-md-4">
                        <a class="dropdown-item" href="/brand/The_Animal_Health_Company"
                          >The Animal Health Company</a
                        >
                        <a class="dropdown-item" href="/brand/PetsMart_Pet_Products">PetsMart Pet Products</a>
                        <a class="dropdown-item" href="/brand/Royal_Canin">Royal Canin</a>
                        <a class="dropdown-item" href="/brand/Tropiclean">Tropiclean</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          <div class="row products justify-content-space-between;">
            <% products.forEach(function(p){ %>
            <div class="box col-md-3">
              <div class="product_cover">
                <% if (p.imgUrl == '') { %>
                <img src="<%= p.imgUrl %>" />
                <% } else { %>
                <img src="https://place-hold.it/180x180" />
                <% } %>
              </div>
              <h4><%= p.productTitle %></h4>
              <h5>N<%= p.priceWholesale %></h5>
              <div class="cart">
                <a href="/product-detail/<%= p._id %>">View Details</a>
              </div>
            </div>
            <% }) %>
          </div>
        </div>

      </div>
    </main>
    <!-- end of content area -->
  </div>
</div>
